* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #edf0f3;
  font-family: 'Ubuntu', sans-serif;
}

.nav {
  font-size: 18px;
  font-weight: 800;
  background-color: blanchedalmond;
  padding: 20px 0 20px 0;
  display: flex;
}

.fa-trophy {
  position: relative;
  top: 16px;
  margin-right: 20px;
  margin-left: 24px;
  color: crimson;
}

.fa-medal {
  color: crimson;
}

.score-heading {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}

.score-heading p {
  font-size: 2px;
  font-weight: bold;
}

.recent-scores {
  width: 60%;

  /* margin-left: 12px; */
}

.main {
  display: flex;
  margin-right: auto;
  margin-left: 48px;
  gap: 8px;
}

.list-items {
  border: solid 2px #000;
}

.list-items li {
  list-style: none;
  display: flex;
  font-size: 24px;
  padding: 12px;
}

.add-score p {
  margin: 32px 0 24px 25%;
  font-size: 22px;
  font-weight: 800;
}

.list-items li p:last-child {
  margin-left: auto;
}

.list-items li p:nth-child(2) {
  margin-left: 12px;
}

.list-items li:nth-child(even) {
  background-color: #d3d3d3;
}

.add-score {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: 15%;
}

.refresh {
  text-decoration: none;
  border: solid #000 2px;
  padding: 4px 8px 4px 8px;
  color: black;
  box-shadow: 2px 2px;
  cursor: pointer;
}

.refresh:active {
  background-color: #d3d3d3;
}

.name,
.score {
  border: 2px solid #000;
  margin-bottom: 10px;
}

.submit-btn {
  width: 50px;
  box-shadow: 2px 2px;
  margin-left: auto;
}
